<div class="content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password"
                                       value="">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a ng-href="#/quiz" class="btn btn-lg btn-success btn-block">Login</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<h1>'Allo, 'Allo!</h1>
<p class="lead">
  <img src="images/yeoman.png" alt="I'm Yeoman"><br>
  Always a pleasure scaffolding your apps.
</p>
<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
-->


<div class="row content">
    <h4>The tree of knowledge anywhere</h4>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a tellus quam. Mauris molestie nibh arcu.
      Sed blandit tempus leo a ultrices. Nullam at augue vitae tortor scelerisque tristique. In id quam velit.
      Donec accumsan aliquet ipsum id tincidunt. Integer viverra sagittis viverra. Nunc at vestibulum leo. Donec leo
      justo, sollicitudin ac nisi at, pharetra euismod erat. Nam condimentum ex ut egestas pharetra. Nullam convallis in
      lacus ac imperdiet. Ut nec feugiat tortor, eget auctor nibh.
      Sed massa libero, ultricies ac justo non, interdum sodales elit. Donec pulvinar urna nec sapien sagittis,
      non mattis mauris porta.
    </p>

    <h4>Online testing perfected</h4>

    <p>
      Nam volutpat porttitor tempor. Pellentesque imperdiet aliquet diam ac euismod. Praesent sit amet enim velit.
      Suspendisse efficitur mi nec nisi scelerisque cursus non interdum purus. Etiam nec mauris augue. Nam et pharetra
      leo. Suspendisse potenti.
    </p>

</div>
